# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Data Files
.grib2
.grb2
.nc